@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-item {
    @apply px-4 py-1.5 rounded-full text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
  }

  .card {
    @apply bg-gray-700 rounded-3xl relative z-0 overflow-hidden after:z-10  after:content-[''] after:absolute after:inset-0 after:outline-2 after:outline after:-outline-offset-2 after:rounded-3xl after:outline-white/20 after:pointer-events-none;
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl;
  }
}

/* Custom Styles */

:root {
  --primary-color: #6ee7b7;
  --secondary-color: #38bdf8;
}

.gradient {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
}

.gradient-border {
  border-image: linear-gradient(
      to right,
      var(--secondary-color),
      var(--primary-color)
    )
    1;
}

.gradient-underline {
  position: relative;
}
.gradient-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 4px;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
  border-radius: 3px;
  z-index: -10;
}

/* Portrait */
.circle {
  position: relative;
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  /* outline: 30px solid rgba(0, 0, 0, 0.35); */
  outline-offset: -12px;
}

.circle img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: top;
  border-radius: inherit;
}

.circle::before,
.circle::after {
  position: absolute;
  z-index: -1;
  content: "";
  inset: -4px;
  border-radius: inherit;
  background-image: conic-gradient(
    var(--primary-color),
    var(--secondary-color),
    var(--primary-color)
  );
  animation: rotate 3s linear infinite;
}

.circle::after {
  filter: blur(1rem);
  opacity: 0.6;
}

.circle:hover::before,
.circle:hover::after {
  animation-play-state: paused;
}

@keyframes rotate {
  /* from {
    rotate: 0deg;
  } */
  to {
    rotate: 360deg;
  }
}
