@font-face {
    font-family: 'Satoshi-Regular';
    src: url('./assets/fonts/Satoshi-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Black';
    src: url('./assets/fonts/Satoshi-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Satoshi-Regular", sans-serif;
}


section {
    height: 100vh;
    scroll-snap-align: center;
}